<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .one {
            text-align: center;
            margin-top: 18%;
            margin-left: 25%;
            font-weight: bold;
        }

        .one input {
            padding-top: 1%;
        }
        body{background-color: aquamarine;}
        button {
            margin-top: 3%;
            background-color: whitesmoke;
            color: blue;

        }

        h1 {
            color: black;
        }
    </style>
</head>

<body>
    <div class="container"></div>
    <center>
        <h1> File Upload</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Choose files:</label>
                <input type="file" id="file" name="file" accept=".jpg, .png, .pdf, .jpeg, .py, .docx, .doc" multiple
                    required> <br>

            </div>
            <div class="form-group">
                <center>
                    <input type="submit" value="Upload">
                </center>
            </div>
    </center>
    </form>
</body>

</html>